---
export interface Props {
  title: string;
  description?: string;
  image?: string;
  type?: string;
}

const {
  title,
  description = "Francois Raminosona - Ethical Software Architect, Developer Experience Lead, Traveler and Photographer",
  image,
  type = "website",
} = Astro.props;
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <!-- FAVICON / WEBAPP -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="favicon/apple-touch-icon.png"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta
      name="apple-mobile-web-app-title"
      content="Flights by Francois Raminosona"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="site.webmanifest" />
    <link rel="mask-icon" href="favicon/icon.svg" color="#0b3041" />
    <meta name="application-name" content="Flights by Francois Raminosona" />
    <meta name="msapplication-TileColor" content="#0b3041" />
    <meta
      name="msapplication-TileImage"
      content="favicon/apple-touch-icon.png"
    />
    <meta name="theme-color" content="#0b3041" />
    <!-- End FAVICON / WEBAPP -->

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content={type} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content={image ? new URL(image, Astro.url) : undefined}
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta
      property="twitter:image"
      content={image ? new URL(image, Astro.url) : undefined}
    />

    <!-- Facebook Profile -->
    <meta property="fb:app_id" content="966242223397117" />
    <meta property="profile:first_name" content="François" />
    <meta property="profile:last_name" content="Raminosona" />
    <meta property="profile:gender" content="male" />
    <meta property="profile:username" content="Framinosona" />

    <!-- https://developers.google.com/search/docs/data-types/social-profile -->
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "François Raminosona",
        "url": "{Astro.url}",
        "sameAs": [
          "https://www.facebook.com/NewHammerhead73",
          "https://x.com/Framinosona",
          "https://www.instagram.com/framinosona",
          "https://www.linkedin.com/in/framinosona",
          "https://m.me/NewHammerhead73",
          "https://github.com/framinosona",
          "https://www.betaseries.com/membre/Hammerhead73"
        ]
      }
    </script>

    <title>
      {
        title === "Home"
          ? "Francois Raminosona"
          : `${title} - Francois Raminosona`
      }
    </title>

    <script>
      // Theme toggle functionality
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }

      if (theme !== "light" && theme !== "dark") {
        localStorage.setItem("theme", "light");
      } else {
        localStorage.setItem("theme", theme);
      }
    </script>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HWVN4WH5QF"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-HWVN4WH5QF");
    </script>
    <!-- End Google Analytics -->
  </head>
  <body
    class="min-h-screen bg-gradient-to-br from-slate-50 to-brand-primary/5 dark:from-slate-900 dark:to-slate-800"
  >
    <div class="min-h-screen flex flex-col">
      <slot />
    </div>
  </body>
</html>
